extends layout

block content

  h1 Book Instance: #{bookInstance.title}

    p Do you really want to delete this Book Instance?

    form(method='POST')
      div.form-group
        input#bookInstanceId.form-control(type='hidden', name='bookInstance', value=bookInstance.bookInstanceId )

      button.btn.btn-primary(type='submit') Delete