extends layout

block content

  h1 Genre: #{title}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    if booksInGenre.length
      dl
        each book in booksInGenre
          dt
            a(href=`/catalog/book/${book.bookId}`) #{book.bookTitle}
          dd #{book.bookSummary}
    else
      p This genre has no books.
