extends layout

block content
  h1= title

  if genresList.length
    ul
      each genre in genresList
        li
          a(href=`/catalog/genre/${genre.genreId}`)  #{genre.genreName}
  else
    p There are no genres.
